<%-include("./components/head")%>
<body>
    <%-include("./components/navbar")%>
    <div style="margin: 2.2em;">
    </div>
    <div style="border-radius: 1em; margin: auto; padding:2em;width: 80%; background-color: white;" >
       <h2>Welcome to Shopzada</h2>
       <br>
       <p>This is Shopzada, a totally original idea that is not a merge of the names of the two largest 
        shopping platforms!</p>
        <p>This website is used to manage the items that are stored in the database.
            You can add, edit, and remove these items.</p>
        <p>This website is using AtlasDB so it might take a few seconds to access the list when first running the server</p>
    </div>
</body>
</html>